.beauty {
  background: black;
  color: white;
  padding: .36em;
}
.self-taught {
  background: #666;
  color: white;
  padding: .36em;
}
.design, .develop, .learn {
  text-decoration: underline;
}



.scrol {
  background: #4C4B44;
}
.scrol-sf {
  background: #6D6850;
}
.scrol-madrid {
  background: #9E515C;
}
